@charset "UTF-8";

*{
  margin  : 0;
  padding : 0;
}

html{
  height : 100%;
}

body{
  height      : 100%;
  width       : 100%;
  font-family : serif;
}

.center{
  display : block;
  position : absolute;
  left   : 0;
  right  : 0;
  top    : 0;
  bottom : 0;

  margin : auto;
}

iframe{
  border-style : solid;
  border-width : 1px;
}

#bg{
  position : absolute;

  width  : 100%;
  height : 100%;


  overflow : hidden;
}

div.icon{

  background-color : #000;

  width  : 100pt;
  height : 100pt;
}

#contents{
  position : absolute;
  width  : 100%;
  height : 100%;

  overflow-x : scroll;
  overflow-y : hidden;
}



div.icon>h3{
  position : absolute;
  bottom   : 0;
  width    : 90%;

  margin-left  : 5%;
  margin-right : 5%;
  text-align   : right;
  color        : #fff;
  font-size    : 12pt;
  font-weight  : normal;
}

div.description{


  position : absolute;
  width    : 80%;
  top      : 70%;
  
  height : 20%;
  overflow-x : scroll;
  overflow-y : hidden;
}
